body {
    background-color: black;
    user-select: none;
}
h1 {
    text-align: center;
    color: green;
    font-size: 8em;
}
h2 {
    text-align: center;
    color: green;
    font-size: 1.5em;
}
